@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: 100vh;
    @apply dark:bg-[#2a2548] dark:text-white text-black
}
#app {
    height: 100vh;
}

.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #3e3e3e21;
}

.modal-item {
    padding: 2rem 5rem;
    background-color: white;
    color: black;
    border-radius: 10px;
}
