@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    @apply dark:bg-[#2a2548] dark:text-white text-black
}
#app {
    height: 100vh;
}

.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0202028f;
}

.modal-item {
    padding: 2rem 5rem;
    background-color: white;
    color: black;
    border-radius: 10px;
}

header, footer {
    @apply py-2
}